{% load i18n %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<style>
.tkw
{
overflow:auto;
background-color: #b0e0e6;
width:30em;
box-shadow: 0px 0px 0.5em #97CBF4;
max-height:40em;
vertical-align:top!important;
display: inline-table;
}
</style>
<script>
function add_kw_sv()
{
    alert('add_kw_sv')
}
</script>
<title>
Keywords
</title>
</head>

<body style="background-image:url('/static/bground-pattern.jpg');">
<div id="content">
    <div>
        <div class="tkw" >
        <table style='vertical-align:top!important;'>
            <thead>
            <tr><span style="color: #ff0000; font-size:18px; font-weight:bold; text-align:center; vertical-align:top!important;margin-left:90px;">English Keywords</span></tr>
            <tr style='vertical-align:top!important;'>
                <th><a href="?sort=id" style="color: #666666; font-weight:bold; font-size:13px;width:10%; ">id</a></th>
                <th><a href="?sort=alphabetic" style="color: #666666; font-weight:bold; font-size:13px;width:50%; ">Keyword list</a></th>
                <th><a href="?sort=descend" style="color: #666666; font-weight:bold; font-size:13px; margin-left:0px;">SV</a></th>
            </tr>
            </thead>

            <tbody>
                {% for kw in kwords_all %}
                <tr>
                    <td style="background-color:white; width:10%;">{{ kw.id }}</td>
                    <td style="background-color:white; width:90%;">{{ kw.kw_english }}</td>
                    <td style="background-color:white; width:auto;">{{ kw.sv_english }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="tkw" name="lang_sub" style="margin-left: 10em;" id="kwordslist">
            <form name="form_lang" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form_lang.management_form }}
                {{ form_lang.as_table }}
                <input type="submit" name="lang_sub" value="Show keywords" />
            </form>

            <div class="tkw">
                <table >
                    <thead>
                    <tr><span style="color: #ff0000; font-size:18px; font-weight:bold; text-align:center; margin-left:90px;">
                    {% if language %} {{ language }} {% endif %} Keywords</span></tr>
                    <tr style='vertical-align:top!important;'>
                        <th><a style="color: #666666; font-weight:bold; font-size:13px;width:10%; ">id</a></th>
                        <th><a style="color: #666666; font-weight:bold; font-size:13px;width:50%; ">Keyword list</a></th>
                        <th><a style="color: #666666; font-weight:bold; font-size:13px; margin-left:0px;">SV</a></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for kw in kw_language %}
                        <tr>
                            <td style="background-color:white; width:10%;">{{ kw.kw_english.id }}</td>
                            <td style="background-color:white; width:90%;">{{ kw.kw }}</td>
                            <td style="background-color:white; width:auto;">{{ kw.sv }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="kwords">
        <form name="form_kwd_sv" action="" name="kw_sv_sub" method="post">{% csrf_token %}
        {{ form_kwd_sv.management_form }}
        {{ form_kwd_sv.as_ul }}
        <input type="submit" name="kw_sv_sub" value="Add copied kw-sv" />
        </form>
    </div>
</div>
</body>
</html>
